
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <!--CustId:@ViewBag.CustId  </br>
        CustName:@ViewBag.CustName -->
        @ViewBag.Desc  </br>
        @ViewData["Desc2"]  </br>
        @TempData["Desc2"]  </br>
    </div>
</body>
</html>
