
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<table class="table tavtable-striped table-bordered">
    <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
    </tr>
    <tr>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
    </tr>
    <tr>
        <td>9</td>
        <td>10</td>
        <td>11</td>
        <td>12</td>
    </tr>


</table>

@if (ViewBag.test == "1")
{
    <div>我是一</div>
}
else
{
    <div>我不是一</div>
}

@{ Html.RenderPartial("_SysDatePartial");}

@{ Html.RenderAction("TestPartial", "LayoutTest");}


@*我不會被顯示*@